.sidebar {
    height: calc(100vh - 99px);
}

.link-group {
    padding: 15px;
    width: 100%;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    background-color: #77b735;
    text-decoration: none;
}